{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>選課小幫手</title>    
	<link rel="icon" href="nchu_sg.jpg" type="image/ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 引入Ｊquery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- 引入Ｊs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
	<!-- 引入CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
	{% block eachStyle %}{% endblock %}
</head>
<body>
<!-- Following Menu -->
{% include "entry/top_bar.html" %}
<!-- Page Contents 功能簡介 -->
<div class="pusher">
	{% include "entry/left_bar.html" %}
	{% block content%}{% endblock %}
</div>

{% include "entry/footer.html" %}
</body>
</html>
