{% extends "entry/base.html" %} {% load staticfiles %} {% block eachStyle %}
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/entry.css' %}">
<script src="{% static 'entry/js/pusher.js' %}"></script>
<script src="{% static 'entry/js/visibility.js' %}"></script>
<script src="{% static 'entry/js/sidebar.js' %}"></script>
<script src="{% static 'entry/js/transition.js' %}"></script>
<style type="text/css">

body {
    background-color: gray;
}
</style>
{% endblock eachStyle%} {% block content %}
<!-- 這裡放 子網頁連結-->
<p>
    <div class="ui centered grid container">
        <div class="column">
            <div class="ui three column stackable grid">
                <div class="column">
                    <div class="ui special cards">
                        <div class="ui fluid card">
                            <div class="blurring dimmable fluid image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <h2>想整理自己想要的課卻</h2>
                                            <br>
                                            <h2>嫌學校系統操作不便嗎，</h2>
                                            <br>
                                            <h2>選課小幫手，</h2>
                                            <br>
                                            <h2>幫助各位打場漂亮的勝仗。</h2>
                                        </div>
                                    </div>
                                </div>
                                <img src="{% static 'entry/img/calendar.svg' %}">
                            </div>
                            <div class="content">
                                <a class="header" href="{% url 'course:course_zh_TW' %}"><h1 align='center'>選課小幫手</h1></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui special cards">
                        <div class="ui fluid card">
                            <div class="blurring dimmable fluid image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <h2>面對琳瑯滿目的課程，</h2>
                                            <br>
                                            <h2>毫無頭緒，無從下手嗎?</h2>
                                        </div>
                                    </div>
                                </div>
                                <img src="{% static 'entry/img/high-school.svg' %}">
                            </div>
                            <div class="content">
                                <a class="header" href="http://feedback.nchusg.org"><h1 align='center'>課程心得版</h1></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui special cards">
                        <div class="ui fluid card">
                            <div class="blurring dimmable fluid image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <h2>想要找個共同時間</h2>
                                            <br>
                                            <h2>卻又找不到共同空堂嗎?</h2>
                                            <br>
                                            <h2>排時間小幫手</h2>
                                            <br>
                                            <h2>幫你解決這個問題!</h2>
                                        </div>
                                    </div>
                                </div>
                                <img src="{% static 'entry/Briefcase-528.png' %}">
                            </div>
                            <div class="content">
                                <a class="header" href="/tiagenda/"><h1 align='center'>Tiagenda</h1></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p>
<br>
<br>
<br>
<div style="font-size:400%;text-align:center;" align='center'>成為我們的一份子</div>
<br>
<br>
<br>
<!--徵才資訊-->
<div class="ui centered grid container">
    <div class="column">
        <div class="row">
            <div class="ui two column stackable grid">
                <div class="column">
                    <img class="image" src="http://s3.amazonaws.com/mss-cms/files/30/original/student.jpg?1347882212">
                </div>
                <div class="column">
                    <div style="font-size:200%;text-align:center;line-height:300px;" align='center'>#1.幫助學生是我們的宗旨</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui two column stackable grid">
                <div class="column">
                    <div style="font-size:200%;text-align:center;line-height:300px;" align='center'>#2.促進校園友誼的成長</div>
                </div>
                <div class="column">
                    <img class="image" src="http://www.studyacrossthepond.com/sites/default/files/styles/coverflow/public/gallery/2619.jpg?itok=krIjbcCQ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui two column stackable grid">
                <div class="column">
                    <img class="image" src="https://business.uoregon.edu/sites/business1.uoregon.edu/files/media/photo-oemba-student-notebook.jpg">
                </div>
                <div class="column">
                    <div style="font-size:200%;text-align:center;line-height:300px;" align='center'>#3.超級酷炫的的 idea</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui two column stackable grid">
                <div class="column">
                    <div style="font-size:200%;text-align:center;line-height:300px;" align='center'>#4.我們真的超棒der</div>
                </div>
                <div class="column">
                    <img class="image" src="http://tw.ptt01.cc/zhtw/c031/Image/20151217/6358593501446418886301288.png">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
