<div class="ui inverted masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="active item">Home</a>
      <a class="item" href="{% url 'course:course_zh_TW' %}">選課小幫手</a>
      <a class="item" href="{% url 'promotions:home' %}">校園拍賣網</a>
      <a class="item">今天吃什麼</a>
      <a class="item" href="{% url 'tiagenda:index' %}">Tiagenda</a>
      <a class="item" href="http://feedback.nchusg.org">課程心得版</a>
      <a class="item">聊天室</a>
      <div class="right item">
        <a class="ui inverted button" href="{% url 'customer:login' %}">Log in</a>
        <a class="ui inverted button" href="{% url 'customer:login' %}">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="ui text container">
    <h1 class="ui inverted header">
      Stufinite
    </h1>
    <h2>無限的平台</h2>
    <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
  </div>
</div>